# IntelliJ IDEA
.idea/
*.iml

# Compiled classes
out/

# OS files
.DS_Store
Thumbs.db

# Eclipse (optional)
.classpath
.project
.settings/
bin/

# NetBeans (optional)
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code (optional)
.vscode/
.env
# Keep your MongoDB JARs


target/
